
<div class="home-callout text-center container-fluid full-image-home">
    <h1>Connect with the best in the video & filmmaking industry.</h1>
    <h3>Find filmmakers, video editors, animators, and more.</h3>
</div>

<div class="home-strap text-center container-fluid">
    <h2>Popular Creator Profiles</h2>
    <h4>Check out a few of our most popular creators below.</h4>
    <br>
    <h4><i class="fa fa-chevron-down"></i></h4>
</div>

<div class="container">
    <div class="row">
        <div class="text-center ">
            <img class="col-md-6 home-profile-img" src="https://images.unsplash.com/photo-1431727460781-fa165e66bffa?dpr=2&auto=compress,format&fit=crop&w=500&h=350&q=80"></img>
        </div>
        <div class="col-md-6">
            <div class="text-left home-profile">
                <h2>Brian Radcliffe</h2>
                <h4>Motion Graphics Designer / Atlanta, GA</h4>
                <br>
                <p>Hi, I’m Brian. I design, illustrate and animate videos.
                My work ranges from broadcast television to startup explanatory videos.
                I love to meet people, hear their stories, and bring those stories to life.
                <br><br>
                I have had the pleasure of working with a great number of clients, 
                big and small. Some of those great people include: CNN, HGTV,
                The Weather Channel, TNT, Cartoon Network, DIY, ABC Family, Coca-Cola, 
                Turner Studios and Stone Mountain.</p>
                <br>
                <%= link_to '#', class:"btn b-btn btn-lg" do %>
                    View Profile 
                    <i class="fa fa-arrow-circle-o-right btn-icon"></i>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="gray container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left home-profile">
                    <h2>John Waddington</h2>
                    <h4>Videographer / New York, NY</h4>
                    <br>
                    <p>Hi, I’m John. I design, illustrate and animate videos.
                    My work ranges from broadcast television to startup explanatory videos.
                    I love to meet people, hear their stories, and bring those stories to life.
                    <br><br>
                    Some of my clients include: CNN, HGTV,
                    The Weather Channel, TNT, Cartoon Network, DIY, ABC Family, Coca-Cola, 
                    Turner Studios and Stone Mountain.</p>
                    <br>
                    <%= link_to '#', class:"btn b-btn btn-lg" do %>
                        View Profile 
                        <i class="fa fa-arrow-circle-o-right btn-icon"></i>
                    <% end %>
                </div>
            </div>
            <div class="text-center">
                <img class="col-md-6 home-profile-img" src="https://images.unsplash.com/photo-1469078516084-ad19542d5662?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop="></img>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="text-center ">
            <img class="col-md-6 home-profile-img" src="https://images.unsplash.com/photo-1438109491414-7198515b166b?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=></img>
        </div>
        <div class="col-md-6">
            <div class="text-left home-profile">
                <h2>Jennifer Williams</h2>
                <h4>Video Editor / Los Angeles, CA</h4>
                <br>
                <p>Hi, I’m Jen. I design, illustrate and animate videos.
                My work ranges from broadcast television to startup explanatory videos.
                I love to meet people, hear their stories, and bring those stories to life.
                <br><br>
                I have had the pleasure of working with a great number of clients, 
                big and small. Some of those great people include: CNN, HGTV,
                The Weather Channel, TNT, Cartoon Network, DIY, ABC Family, Coca-Cola, 
                Turner Studios and Stone Mountain.</p>
                <br>
                <%= link_to '#', class:"btn b-btn btn-lg" do %>
                    View Profile 
                    <i class="fa fa-arrow-circle-o-right btn-icon"></i>
                <% end %>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well text-center home-signup-links">
                <h2 class="text-center">Basic Membership</h2>
                <h4>Sign up for free and get access to the community and contact information.</h4>
                <br>
                <%= link_to "Sign Up With Basic", new_user_registration_path(plan: @basic_plan.id) , class:"btn btn-primary btn-lg" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well text-center home-signup-links">
                <h2>Creator's Account</h2>
                <h4>Sign up for the creator's account for $10/month and get listed in our community</h4>
                <br>
                <%= link_to "Sign Up With Pro", new_user_registration_path(plan: @pro_plan.id) , class:"btn btn-success btn-lg" %>
            </div>
        </div>
    </div>
    <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
</div>


<div class="gray container-fluid">
    <div class="client-logos text-center container">
        <div class="row block-center">
            <div class="col-lg-12">
                <h5>We might be used by these great companies one day.</h5>
                <br>
            </div>
            <div class="client-logos-pad">
                <div class="col-lg-2 col-lg-offset-1">
                   <img class="img-responsive" src="https://motionarray.com/assets/images/content/client-logos/client-cbs.png" alt="">
                </div>
                <div class="col-lg-2">
                   <img class="img-responsive" src="https://motionarray.com/assets/images/content/client-logos/client-clear-channel.png" alt="">
                </div>
                <div class="col-lg-2">
                   <img class="img-responsive" src="https://motionarray.com/assets/images/content/client-logos/client-universal.png" alt="">
                </div>
                <div class="col-lg-2">
                   <img class="img-responsive" src="https://motionarray.com/assets/images/content/client-logos/client-cbs.png" alt="">
                </div>
                <div class="col-lg-2">
                   <img class="img-responsive" src="https://motionarray.com/assets/images/content/client-logos/client-ea.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-strap text-center container-fluid">
    <h2>What are you waiting for?</h2>
    <h4>Sign up now, and work with the best in the business.</h4>
    <br>
    <btn class="btn ol-btn btn-lg">Sign Up</btn>
    <br>
</div>